##########################
# Generated .gitignore
##########################

# Node
node_modules/

# Build / output
dist/
dist-ssr/
.output/
.nitro/
.vinxi/
.vscode/

# Environment
.env
*.local

# Tooling / configs
.tanstack/
.wrangler/
__unconfig*
boneyard.config.json
todos.json

# Project specific
/agents
/skills
/src/api/docs/
src/api/api-docs.json
skills-lock.json

# Trae / Heroui
/.trae
.heroui-docs/
# heroui-agents-md

src/routeTree.gen.ts
